## KNN Regressior From Scratch for K = 5

In [15]:
# importing the necessary libraries
import pandas as pd
import numpy as np

from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_absolute_percentage_error

Reading data and Checking Shape

In [2]:
knn_tr = pd.read_excel('knn.xlsx',sheet_name='train')

In [3]:
knn_tr.head()

         X1        X2        X3         y
0 -0.059533  0.763686  0.317046 -0.070229
1  1.916473 -0.378508 -0.411538  1.887648
2 -0.237390 -0.244097 -1.053888 -0.316625
3 -0.579256  0.135478 -0.507913 -0.627537
4  0.873726 -1.569405  0.435819  0.987233

In [4]:
knn_tr.shape

(719, 4)

In [5]:
knn_te = pd.read_excel('knn.xlsx',sheet_name='test')

In [6]:
knn_te.head()

         X1        X2        X3         y
0  0.295855  0.145806  1.381112  0.408699
1  1.461282  0.807982 -1.021636  1.320564
2 -1.487283  0.294966 -1.093920 -1.589954
3  1.061516  1.475837 -0.987645  0.892074
4 -0.189910 -0.100671 -1.146587 -0.284978

Taking k = 5

In [7]:
k=5

In [8]:
# creating an empty list of dist to add the distance
dist=[]

# crating an empty list of y_pred to add predicted value as per the mean of nearest 3 values
y_pred=[]

# itration is done as per the no od row os in test data
for i in range(knn_te.shape[0]):
    
    #  in t his itration is done as per the no of rows of train data
    for j in range(knn_tr.shape[0]):
        
        #  creating vector for train and test with the features 
        a = np.array([knn_te.iloc[i,0],knn_te.iloc[i,1],knn_te.iloc[i,2]])
        b = np.array([knn_tr.iloc[j,0],knn_tr.iloc[j,1],knn_tr.iloc[j,2]])
        
        # finding the euclidean distane between the vectors using np.linalg.norm(vector,2) [ here is 2 is for euclidean distance]
        x = np.linalg.norm(a-b,2)
        
        # the calculated distance is added into the list
        dist.append(x)
    
    # storing the index of sorted distances in ind
    ind = np.argsort(dist)[:k]
    
    # taking the top 3 index from ind that is the 3 neared values and finding the mean 
    y_hat = knn_tr.iloc[ind,3].sum()/k
    
    # Adding the mean value to the list of predictred values
    y_pred.append(y_hat)
    
    # emptying the list again to store the distanes for the nest test row
    dist = []

In [9]:
# Ass the column of predicted values to the test data freame
knn_te['y_pred']=pd.Series(y_pred)

In [10]:
# print top 10 values in test dataframe
knn_te.head(10)

         X1        X2        X3         y    y_pred
0  0.295855  0.145806  1.381112  0.408699  0.339027
1  1.461282  0.807982 -1.021636  1.320564  1.236043
2 -1.487283  0.294966 -1.093920 -1.589954 -1.461161
3  1.061516  1.475837 -0.987645  0.892074  0.810368
4 -0.189910 -0.100671 -1.146587 -0.284978 -0.259908
5 -0.824063  0.118634  1.967514 -0.651070 -0.598001
6  0.613789  1.501849 -0.542953  0.485099  0.481394
7 -0.603142 -0.985014  1.155454 -0.446815 -0.358211
8 -0.018134  0.223406  2.094552  0.155760  0.045694
9  0.067561 -0.611980  0.279917  0.123230  0.056683

In [11]:
# calculate MAPE manually
MAPE = np.mean(abs((knn_te['y'] - knn_te['y_pred'])/knn_te['y']))
MAPE

0.4426275854668177

In [16]:
# calculate MAPE using library
MAPE = mean_absolute_percentage_error(knn_te['y'], knn_te['y_pred'])
MAPE

0.4426275854668177

### Using libraries to verify the metrics

In [17]:
knn_tr = pd.read_excel('knn.xlsx',sheet_name='train')
knn_te = pd.read_excel('knn.xlsx',sheet_name='test')

In [22]:
knnR = KNeighborsRegressor(n_neighbors=5)

In [23]:
knnR.fit(knn_tr.iloc[:,0:3],knn_tr.iloc[:,3])

KNeighborsRegressor()

In [24]:
test_pred = knnR.predict(knn_te.iloc[:,0:3])

In [25]:
mean_absolute_percentage_error(knn_te['y'],test_pred)

0.4426275854668177

### After validation it is observed that the KNN regressor scratch MAPE and sklearn library MAPE are same